@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background:#4bc96c;
    font-size: 18px;
    font-family: roboto;       
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vw;
    max-width: 1000px;
    margin: auto;
    margin: auto;    
}

.left {
    display: flex;
    flex-direction: column;  
    width: 80%;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.right {
    display: flex;
    flex-direction: column;      
    width: 50%;
    align-items: center;
    align-content: center;
    margin-top: 20px
}

h2 {
    padding: 5% 3% 0% 5%;
}

p {
    padding: 2% 5% 25% 5%;
    text-align: justify;
}

.box-1 p, .box-2 p {
    padding-bottom: 20%;
}

img {
    background-size: cover;
    width: 100%;
}

.box-1, .box-2 {
    background: white;
    margin: 20px;
}

.box-3, .box-4 {
    background: white;
    margin: 20px;
    width: 90%;
    padding-bottom: 10px;
}
   
.last {
    position: relative;
    padding: 5% 5% 3% 5%;
}

.last::after {
    content: "42 comments";
    position: absolute;
    top: 40%;
    right: 5%;
}


/* for mobile */


@media  (max-width: 660px){
    .container {
        display: block;       
    }
}

@media  (max-width: 660px){
    .right, .left {
        margin:auto;
        padding: auto;       
    }
}
@media  (max-width: 660px){
    .box-1, .box-2, .box-3, .box-4 {
        width: 500px;    
    }
}

@media  (max-width: 320px){
    .container {
        display: block;      
    }
}


